/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
}

body {
  background-color: #eee;
}

p {
  font-size: 2.4rem;
  line-height: 35px;
  font-weight: 500;
}

hr {
  margin: 10px 0;
}

/* main styles */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.certificate {
  width: 1190px;
}

/* certificate header */
.certificate-header {
  padding: 400px 115px 200px 115px;
  background-image: url("../images/bg.svg");
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}

.certificate-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin-left: auto;
  background-image: url("../images/effects.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 65px;
  right: 115px;
}

.effects {
  position: absolute;
  right: 115px;
}

.certificate-title {
  font-size: 3.4rem;
  font-weight: 600;
}

.certificate-title span {
  color: #ffd600;
}

.certificate-text {
  font-size: 14.7rem;
  font-weight: 800px;
  letter-spacing: 12px;
  margin: 30px 0;
}

.certificate-owner {
  font-size: 5.6rem;
  font-weight: 700;
}

.certificate-subtitle {
  font-size: 2.6rem;
  font-weight: 500;
  width: 800px;
  margin-top: 24px;
  color: #a8a8a8;
}

.certificate-subtitle span {
  color: #fff;
}

.qr-code {
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
}

/* certificate-body */
.certificate-body {
  background-image: url("../images/bg-white.svg");
  background-repeat: no-repeat;
  padding: 205px 115px 85px 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signature-img {
  transform: translateX(-5px);
}

.name {
  margin-top: 25px;
}

.job {
  font-weight: 400;
}

.date {
  text-align: end;
}

.date p {
  margin-top: 60px;
  color: #5c5c5c;
}
